html {
    background-color: white;
}

body {
    width: 100%;
    margin: 0 auto;
}

img {
    display: block;
    margin: 100px auto 0;
    width: 375px;
    height: 135px;
}

#textbox_div {
    display: block;
    margin: 10px auto 10px;
    width: 600px;
}

input {
    width: 575px;
    height: 27px;
}

#buttons_div {
    display: block;
    margin: 0 auto;
    width: 300px;
}

button {
    color: #909090;
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
}

.header_div {
    float: right;
}

.header_div li {
    display: inline;
    padding: 0 10px;
    font-size: 12px;
}

footer {
    background-color: #eeeeee;
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.left_foot {
    width: auto;
    display: inline-block;
    float: left;
}

.right_foot {
    width: auto;
    display: inline-block;
    float: right;
}

.left_foot li,
.right_foot li {
    display: inline;
    padding: 0 10px;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #909090;
}